# Copy to .env and adjust to your machine.
BUILDROOT_DIR=../buildroot
TARGET=rpi4
DEVICE=/dev/sdX
DL_DIR=./dl
CCACHE_DIR=./ccache
HOSTNAME_PREFIX=bumblebee
WIFI_COUNTRY=LT
WIFI_INTERFACE=wlan0
WIFI_SSID=change-me
WIFI_PSK=change-me
